mybatis:
  mapper-locations: classpath:mapping/*.xml
spring:
  datasource:
    name: miaosha
    url: jdbc:mysql://1.15.172.26:3306/miaosha?useSSL=false&characterEncoding=utf8
    username: work
    password: 159753
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
